.pathology_result
{
  display: grid;
  grid-template-columns: 20% 80%;
}
.pathology_result_content{
  background-color: #ECEFF1;
  margin-left: -120px;
}
.pathology_result_content h1{
  text-align: center;
  margin-top: 70PX;

}
table {
  border: 8px solid white;
  margin-left: 120px;
  margin-top: 60px;
  border-collapse: separate;
  width: 80%;
  text-align: center;
}

thead th {
  background-color: white;
  width: 70%;
  height: 70px;
  text-align: center;
  color: hsl(202.67deg 53.82% 59.39%);
  padding: 10 30px;
  background-color: white;
  border: 3px solid #ddd;
}

thead tr th{
  width: 30%;
  
}
tbody {
  background-color: white;
 
}
tbody tr td {
  width: 30%;
  height: 65px;
  border: 3px solid #ddd;
}
