$primary-color: rgb(126, 118, 118);
$text-shadow: 0 0.2rem 0.2rem rgb(49, 108, 167); 
$background-opacity: rgba(255, 255, 255, 0.726);
.primary-color{
  color: #4c6fa3  !important;
}

.AboutUs {
  background-image: url('../Assets/AboutUsImage.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 85.6vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
   

  .AboutUsContent {
    background-color: $background-opacity;
    width: 90%; 
    max-width: 600px; 
    padding: 1rem;
    border-radius: 0.3rem; 
    margin-left: 5%;

    h1 {
      margin-bottom: 1.5rem; 
      color: $primary-color;
      text-shadow: $text-shadow;
      font-size: 1.8rem; 
    }

    h2 {
      color: $primary-color;
       
      margin-top: 1rem; 
      font-size: 1.5rem; 
    }

    h4 {
      color: black;
      margin-top: 0.8rem;
      font-size: 1rem; 
    }
  }
}