.primary-color{
    color: #4c6fa3  !important;
}
.primary-color-bg{
  background-color: #4c6fa3 !important;
}
.secondary-color-bg{
  background-color: #e8edf1!important;
}
.custom-background {
  position: relative;
  padding: 3rem 1rem;
  
  &::before {
    content: "";
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%;
    height: calc(100% - 100px);
    background: #e8edf1; 
    z-index: -1; 
    border-radius: 20px;
  }
}

.animated-circle {
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 220px;
    margin: 0 auto;
    
    .animated-img {
      max-width: 100%;
      height: auto;
      animation: topBottom 5s infinite linear;
    }
  }
  
  @keyframes topBottom {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-15px);
    }
    100% {
      transform: translateY(0);
    }
  }
  .buttonPrimary {
    padding: 5px 10px; 
    font-size: 14px; 
    height: 32px; 
    width: 90px;
    color: white;
    background-color: #4c6fa3 !important;
    
    border-radius: 3px;
    transition: all 0.3s ease;
  
    &:hover {
      color: #4c6fa3 !important;
      background-color: white !important;
      border: 2px solid #4c6fa3 !important;
    }
  }
  .responsive-title {
    font-size: 2.5rem; 
  }
  .responsive-small-title{
    font-size: 1.5rem;
  }
  .home-models-width{
    width: 90%;
    
   
  }
  
  .section-titles{
    font-size: 2rem;
  }
  .section-small-titles{
    font-size: 0.9rem ;
  }
  
  
  @media (max-width: 1200px) and (min-width: 1058px) {
    .responsive-title {
      font-size: 2rem !important; 
    }
  }
  
  @media(max-width: 1058px) and (min-width: 845px) {
    .responsive-title {
      font-size: 1.5rem !important; 
    }
    .responsive-small-title{
      font-size: 1.2rem;
    }

  }
  @media(max-width: 850px) and (min-width: 768px) {
    .responsive-title {
      font-size: 1.2rem !important; 
    }
    .responsive-small-title{
      font-size: 1rem !important;
    }
  }
  
  @media(max-width: 885px) and (min-width: 768px) {
    .home-models-width{
      width: 100%;
    }
   
  }
  @media (max-width: 992px) and (min-width:768px){
    .section-titles{
      font-size: 1.7rem;
    }
    .section-small-titles{
      font-size: 0.1rem;
    }
  }
  @media (max-width: 768px){
    .section-titles{
      font-size: 1.3rem;
    }
  }